

 .g931q12 {                        /*Logo inside frame*/
    height: 60px !important; 
    width: 60px !important;
}
@media only screen and (max-width: 768px) {

    /* Adjusting widths for specific elements */
    ._1f1qam0 ._1ytjivy3 {
        width: 90%;
    }

    ._1qfqwvw4 ._1n8bxi85 {
        left: 250px;
    }

    /* Styling iframe inside _7rpfil3 */
    ._7rpfil3 iframe {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;
        margin-bottom: -12px;
        width: 250px;
        border-radius: 10px;
    }

    /* Adjust font size for _7rpfile and _7rpfield */
    ._7rpfile, ._7rpfield {
        font-size: 13px;
    }

    /* Label font size */
    label {
        font-size: 1.4em !important;
    }
.g3dqfd2 {  /*  chat margin left on small screen */
 margin-left: -15px;
 width: 30px;
 height: auto;
}
    /* Form adjustments */
    .form-header, .cleaning-form-container  {
        width: 200px !important; /* Adjust 1st form size */
    }

    .form-title {
        width: 200px !important; /* Adjust 2nd form size */}
}




@media screen and (min-width: 1024px) {
  ._1wkq7nf1 ._1wkq7nf3 {
    width: 600px !important;
    max-width: 600px !important;
    max-height: 700px !important;
  
  
  
  
  
  
  ._1wkq7nf1 ._1wkq7nf3 {
    width: 600px;}

._7rpfil3 iframe {
  margin-left: -15px;
margin-right: -15px;
margin-Top: -15px;
margin-bottom: -12px;
width: 330px;
border-radius: 10px;}
  
  
  
  
  
  }


/* .wfg6592 {height: 60px; width: 60px;}
._1wmzz6i4 {  font-size: 20;}

@media only screen and (max-width: 768px) {
.form-header{width: 220px !important;}
._1f1qam0 ._1ytjivy3 { width: 90%; }
._1qfqwvw4 ._1n8bxi85 { left: 250px;}
._7rpfil3 iframe { margin-left: -15px; margin-right: -15px; margin-Top: -15px; margin-bottom: -12px; width: 250px; 
border-radius: 10px;}
._7rpfile, ._7rpfield { font-size: 13px;}
label {
    font-size: 1.4em !important;
}
 ._7rpfil3 {
    padding: 11px 10px 10px !important;
}
._1ddzqsn2 {
    margin-left: -15px;
width: 25px;
height: 25px;
}
._1ddzqsn5 {
 padding-left: 22px !important;
}}
@media (min-width: 1024px) {
._1wkq7nf1 ._1wkq7nf3 {
    width: 600px;}

._7rpfil3 iframe {
  margin-left: -15px;
margin-right: -15px;
margin-Top: -15px;
margin-bottom: -12px;
width: 330px;
border-radius: 10px;}

} */
